@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$color-dark: hsl(0, 0%, 0%);
$color-light: hsl(0, 0%, 100%);
$color-green: hsl(160, 80%, 50%);
$color-red-light: hsl(348, 83%, 47%);
$color-grey: hsl(0, 0%, 20%);
$color-red-dark: hsl(348, 83%, 37%);
$color-yellow: hsl(50, 80%, 50%);
$color-tomato: hsl(9, 100%, 64%);

html {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: $color-grey;
}

.btn {

    display: block;
    text-decoration: none;
    color: $color-dark;
    font-family: sans-serif;
    font-size: 2rem;
    border: 3px solid $color-dark;
    padding: 1.2rem 2.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.btn-default {
    text-transform: uppercase;
    margin: 0 auto;
}

.btn5 {

    background-color: $color-grey;
    color: $color-light;
    border-color: $color-light;
    overflow: hidden;

    &::before {
        content: 'Yeah!';
        text-transform: uppercase;
        background-color: $color-red-light;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        transform: translateY(-100%);
        transition: all 0.5s;
    }

    &:hover::before {
        transform: translateY(0);
    }
}

.btn6 {

    background-color: $color-grey;
    color: $color-light;
    border-color: $color-light;
    transition: all .5s;

    overflow: hidden;


    &::before {
        content: '';
        position: absolute;
        background-color: $color-light;

        width: 100%;
        height: 50px;
        transform: translateX(-100%) rotate(45deg);
        transition: all .5s;

    }

    &:hover::before {
        transform: translateX(100%) rotate(45deg);
        // transform: translate(100%, 100%) rotate(-45deg);
    }

    &:hover {
        background-color: $color-red-dark;
    }
}

.btn10 {
    background-color: $color-yellow;
    color: $color-light;
    border: none;

    font-weight: 100;
    letter-spacing: 3px;

    &::before {
        content: 'button';
        text-transform: uppercase;
        position: absolute;
        background-color: $color-green;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        transform: rotateX(270deg);
        transform-origin: top;
        transition: all 0.5s;

    }

    &:hover::before {
        transform: rotateX(0deg);
    }

    &::after {
        content: 'button';
        text-transform: uppercase;
        position: absolute;
        background-color: $color-tomato;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        transform: rotateX(270deg);
        transform-origin: bottom;
        transition: all 0.5s;
        transition-delay: 0.3s;
    }

    &:hover::after {
        transform: rotateX(0deg);
    }
}