button {
    display: block;
    width: 250px;
    height: 100px;
    background-color: blue;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    margin-bottom: 1rem;
}

.move {
    transition-property: translate();
    transition-duration: 3s;
}

.move:hover {
    transform: translate(800px);
}

.ease {
    transition-timing-function: ease;
}
.ease-in {
    transition-timing-function: ease-in;
}
.ease-out {
    transition-timing-function: ease-out;
}
.ease-in-out {
    transition-timing-function: ease-in-out;
}
.linear {
    transition-timing-function: linear;
}